//  背景色
$BG: rgba(24,169,193,.15);
//  区块颜色
$Default-Bg: rgba(16, 45, 50, 1);
//  标题
$Title-Color: rgba(255,255,255,.5);
$Title-Font-Size: 18px;
//  占位符
$Placeholder-Color:  rgba(255,255,255,.2);
$Placeholder-Font-Size: 20px;
