html,body{
    padding: 0;
    margin: 0;
}
p{
    margin: 0;
}
#app{
    background: #000;
    color: #fff;
    height: 100vh;
    font-family: "Microsoft YaHei";
    min-width: 1200px;
}
#content{
    padding: 32px
}
.ellipsis{
    overflow:hidden; //超出的文本隐藏
    text-overflow:ellipsis; //用省略号显示
    white-space:nowrap; //不换行
}

