html,body{
    padding: 0;
    margin: 0;
    background: #000!important;
}
p{
    margin: 0;
}
#app{
    color: #fff;
    //height: 100vh;
    font-family: "Microsoft YaHei";
}
/* 定义滚动条样式 */
::-webkit-scrollbar {
    display: none;
}
#content{
    padding: 1.5%
}
.ellipsis{
    overflow:hidden; //超出的文本隐藏
    text-overflow:ellipsis; //用省略号显示
    white-space:nowrap; //不换行
}
.details-scrollBox{
    height: 390px;
}
.map-fixedBox-scrollBox{
    height: 221px;
}
